* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.container {
    max-width: 1320px; /* оптимальная ширина для контейнеров */
    margin: 0 auto; /* первое значение сверху и снизу, а второе справа и слево */
}

.page { /* сделать один глобальный класс */
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 30px;
}
